NODE_ENV=development
PORT=3001

DATABASE_URL=postgresql://postgres.PROJECT_REF:[PASSWORD]@aws-0-REGION.pooler.supabase.com:5432/postgres
DATABASE_SSL=true

JWT_SECRET=cambiar_por_un_string_largo_y_aleatorio_de_64_chars
JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:3000

BCRYPT_ROUNDS=10
